{% extends "layout.html" %} {% block title %}Manage Expenses{% endblock %} {%
block main %}
<h1>Manage Expenses</h1>
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-warning">
      <div class="card-body bg-primary">
        <h5 class="card-title text-dark">Add Expenses</h5>
        <p class="card-body text-dark">
          Track your individual expenses to refine your spending habits and save
          money.
        </p>
        <a href="/addexpenses" class="btn btn-dark">Add Expenses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-primary">
      <div class="card-body bg-warning">
        <h5 class="card-title text-dark">View or Update Expense History</h5>
        <p class="card-body text-dark">
          View and edit expense history if needed
        </p>
        <a href="/expenshistory" class="btn btn-dark"
          >View or Update Expenses</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
