{% extends "layout.html" %} {% block title %}Manage Expenses{% endblock %} {%
block main %}
<h1>Manage Expenses</h1>
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">Add Expenses</h5>
        <p class="card-body">
          Track your individual expenses to refine your spending habits and save
          money.
        </p>
        <a href="/addexpenses" class="btn btn-light text-dark">Add Expenses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">View or Update Expense History</h5>
        <p class="card-body">View and edit expense history if needed</p>
        <a href="/expensehistory" class="btn btn-danger"
          >View or Update Expenses</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
